<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>

    <h2>Вход</h2>
    <form action="login.php" method="post">
        <label>Логин:</label>
        <input type="text" name="username" required>
        <br><br>
        <label>Пароль:</label>
        <input type="password" name="password" required>
        <br><br>
        <button type="submit">Войти</button>
    </form>

</body>
</html>
